{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image: url("../images/the_good__the_bad_and_the_ugly_by_kwad_rat-d5ienw4.jpg");
            background-color: #000;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0 40px;
        }
    </style>
{% endblock %}

{% block container %}
                <div class="row">
                    <div class="col-xs-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">&nbsp;</div>
                </div>
{% endblock %}
